/*
    ==============
        Globals
    ==============
*/
html {
    background-color: #191919;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

div {
    display: inline-block;
}

/*
    ============
        Body
    ============
*/
body {
    min-width: 320px;
    max-width: 1600px;
    margin: 0 auto;
    
    line-height: 24px;
    text-align: center;
}


/*
    ==============
        Header
    ==============
*/
header {
    max-width: 100%;
    padding: 48px 0;
    color: #fff;
}

@media (min-width: 860px) {
    .nav-container {
        position: relative;
    }
    
    .company-logo {
        display: block;
        margin-top: 1px;
        padding: 16px 6px 16px 10px;
        float: left;
        width: 137px;
    }
    
    nav {
        overflow: hidden;
        height: 100%;
        border: 1px solid white;
    }
    
    nav>ul>li {
        display: inline-block;
    }
    
    .nav-link {
        display: inline-block;
        margin-top: 1px;
        padding: 16px 8px 10px;
        border: 1px solid green;
        /*        height: 48px;*/
    }
    
    .nav-actions {
        display: flex;
        justify-content: flex-end;
    }
}

.nav-container {
    display: flex;
    font-size: 13px;
    height: 100%;
}

/* Microsoft Company Logo */
.company-logo {
    display: inline-block;
    position: relative;
    outline: 2px solid transparent;
    font-size: 18px;
    font-weight: 600;
    margin-top: -3px;
}

.company-logo:after {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

#header-img {
    width: 108px;
}

/*
.company-logo span {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
*/

@media (min-width: 1779px) {
    .nav-container button {
        padding: 16px 30px 16px 16px;
    }
}

/* Navigation Links */
nav {
    display: inline-block;
    
    height: 54px;
    font-size: 13px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: inline-block;
} 

.nav-container button {
    position: relative;
    top: -3px;
    
    background-color: transparent;
    border: solid 1px red;
    cursor: pointer;
    
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.nav-actions {
    float: right;
}


/*
    ====================
        Introduction
    ====================
*/
h1 {
    font-size: 34px;
    font-weight: 700;
    padding: 0 0 2px;
}

.introduction p {
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 24px 0;
}


/*
    ==============
        Main
    ==============
*/
main {
    width: 100%;
}

main img {
    width: 100%;
}


/*
    ==============
        Footer
    ==============
*/
footer {
    background-color: #191919;
    padding: 32px 0;

    font-size: 11px;
    color: #fff;
}

footer a {
    margin-left: 20px;
}

.content {
    padding: 24px 0;
    border-top: 3px solid white;
    margin: 0 auto;
}

.language {
    float: left;
    text-align: left;
}

.external-links {
    float: right;
}
