:root {
    --blue-color: #0000A5;
}

h2 {
    font-family: Lobster, monospace;
}

p {
    font-size: 16px;
    font-family: monospace;
}

.red-text {
    color: #F00;
}

.smaller-image {
    width: 100px;
}

.thick-green-border {
    border: 10px solid green;
    border-radius: 50%; 
}

.silver-background {
    background-color: silver;
}

#cat-photo-form {
    background-color: rgb(0, 255, 0);
}

[type='checkbox'] {
    margin: 10px 0 15px 0;
}

#orange-text {
    color: #FFA500;
}

.pink-text {
    color: pink !important;
}
  
.blue-text {
    color: blue;
    color: var(--blue-color, aqua);
}
