.item1 {
    background: LightSkyBlue;
}

.item2 {
    background: LightSalmon;
}

.item3 {
    background: PaleTurquoise;
}

.item4 {
    background: LightPink;
}

.item5 {
    background: PaleGreen;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.container {
    display: grid;
    /* Number of arguments is the number of col/row */
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;

    font-size: 40px;
    width: 100%;
    min-height: 300px;
    background: LightGray;
}
